<%-include("partials/header")%>

<h1 id="opinionHeading">Love To Hear Your Opinion !!&nbsp;<i class="fa-solid fa-face-smile-beam"></i></h1>
<div id="contact-box">
    <section id="contact">
            <div class="card">
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/triloki-nath-72659b226/" class="card-link"><i class="myicon fa-brands fa-linkedin fa-3x"></i></a>
                    <a href="https://github.com/Triloki35" class="card-link"><i class="myicon fa-brands fa-github-square fa-3x"></i></a>
                    <a href="https://www.facebook.com/triloki.nath.5851/" class="card-link"><i class="myicon fa-brands fa-facebook-square fa-3x"></i></a>
                    <a href="https://www.instagram.com/ig_triloki/" class="card-link"><i class="myicon fa-brands fa-instagram-square fa-3x"></i></a>
                </div>
              </div>
        </div>
    </section>

    <%-include("partials/footer")%> <!-- <h1>Contact me</h1>
        <p>
            <%=CONTACTCONTENT%>
        </p>