*{
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* css of header */

#logo{
    margin-right: 14px;
}

#searchBar{
    display: flex;
    margin-right: 2%;
}

#searchBtn{
    margin: 0% 1%;
}

@media screen and (max-width: 600px) {
    #searchBar{
        display: inline;
        /* margin-right: 2%; */
    }
    #searchBtn{
        margin: 0% 0%;
    }
  }

/* css of footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
}

/* home css */
#home{
    padding: 2% 2%;
}

#homeHeading{
    margin-bottom: 3%;
    /* text-align: center; */
    /* text-decoration: underline; */
}

#homeContent{
    margin-bottom: 1.5%;
    font-size: larger;
    color: slategray;
}

#postBox{
    margin-top: 5%;
}

#postTitle{
    /* margin-bottom: 1%; */
    text-transform: capitalize;
    /* color: cadetblue; */
}

#postContent{
    margin-bottom: 1%;
    margin-top: 0.5%; 
    text-transform: capitalize;
    color: slategrey;
    /* font-style: oblique; */
}

/* about css */

#about{
    padding: 2% 2%;
}

/* css of contact */

#contact{
    padding: 6% 2%;
    display: flex;
    justify-content: center;
}

#opinionHeading{
    text-align: center;
    margin-top: 5%;
    color: slategray;
}

/* css of posts  */

#posts{
    padding: 2% 2%;
    text-transform: capitalize;
}

#postTitle{
    margin-bottom: 1%;
}
/************* css of compose page **************/

#compose{
    padding: 1% 2%;
}

label{
    padding: 1% 2%;
}

#title {
    display: block;
    width: 500px;
    border-radius: 5px;
    margin: 1% 2%;
    border: 1px solid;
    text-transform: capitalize;
}

#post {
    display: block;
    height: 100px;
    width: 500px;
    border-radius: 5px;
    margin: 1% 2%;
    text-transform: capitalize;
}

#publish{
       /* background: #7a7ae6;
       color: white; */
       border-radius: 5px;
       border-style: none;
       height: 40px;
       width: 80px;
       margin-left: 26px;
       margin-top: 17px;
}


@media screen and (max-width: 500px) {
    #title {
        width: 250px;
    }
    #post{
        width: 250px;
    }
    #publish{
        margin-left: 10px;
    }
  }



